body{

margin:0;
font-family:sans-serif;
background:#021526;
color:white;

}

/* header */

.header{

display:flex;
align-items:center;
justify-content:space-between;
padding:20px;
background:linear-gradient(90deg,#065f46,#047857);

}

.side{

width:70px;

}

.titlebox{

text-align:center;
flex:1;

}

/* title */

.title{

font-size:36px;
animation:glow 2s infinite alternate;

}

@keyframes glow{

from{
text-shadow:0 0 10px #00ffcc;
}

to{
text-shadow:0 0 30px #00ffcc;
}

}

/* toolbar */

.toolbar{

text-align:center;
margin-top:10px;

}

/* search */

.searchbox{

text-align:center;
margin-top:20px;

}

input{

width:80%;
padding:12px;
border-radius:8px;
border:none;

}
body{

font-family:sans-serif;
background:#021526;
color:white;
text-align:center;
margin:0;

}

.title{

margin-top:30px;
font-size:35px;

}

/* বক্স ডিজাইন */

.boxContainer{

width:90%;
margin:auto;
margin-top:20px;

}

.box{

background:rgba(255,255,255,0.1);
padding:15px;
margin:12px;
border-radius:12px;
cursor:pointer;
backdrop-filter:blur(10px);
box-shadow:0 4px 10px rgba(0,0,0,0.4);

}

.box:hover{

background:#047857;

}

/* পুরো মনক্বত */

#fullNaat{

width:90%;
margin:auto;
margin-top:30px;
line-height:1.8;
font-size:18px;

}

button{

margin-top:20px;
padding:10px 20px;
border:none;
border-radius:8px;
background:#047857;
color:white;
cursor:pointer;

}

.banner{

width:100%;
height:200px;
overflow:hidden;

}

.banner img{

width:100%;
height:100%;
object-fit:cover;

}

body.light{
background:white;
color:black;
}

body.light .box{
background:#f2f2f2;
color:black;
}

body.light input{
background:#eee;
color:black;
}

body.light .header{
background:#0f9d58;
}

.container{
max-width:420px;
margin:auto;
padding:10px;
}

body{
margin:0;
display:flex;
justify-content:center;
background:#021526;
  }

.card{
background:#243447;
padding:15px;
margin:10px 0;
border-radius:12px;
text-align:center;
color:white;
}
